:root{
    --cor-de-fundo: #38392C;
    --verde: #6FFF57;
    --branco: #FFFFFF;
    --botao-ativo: #3A375E;
    --botao-inativo: rgba(58, 55, 94, 0.5);
    --texto-funfo: rgba(58, 55, 94, 0.3);
    }
    body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Chakra Petch', sans-serif;
    }
    .conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    }
    .titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
    }
    .titulo-principal span{
    color: var(--verde);
    }
    .botao{
    font-family: "crakra petch", sans-serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 4px solid var(--botao-ativo);
    border-right: 4px solid var(--botao-ativo);
    border-top: none;
    }
    .botao:first-child{
    border-radius: 40px 40px 0 0; /*arredondamento da borda*/
    }
    .botoes{
    display: block;
    }
    
    .botao.ativo{
    background: var(--botao-ativo);
    border-bottom: 4px solid var(--verde);
    }
    /*Aqui começa a parte do meio - segunda parte */
    .abas-textos{
    background-color: var(--texto-funfo);
    padding: 40px;
    border-radius: 40px 40px 0px 0px;
    }
    .aba-conteudo.ativo{
    display: block;
    }
    .aba-conteudo{
    display: none; /*esconde os conteudos não ativos conforme aba*/
    }
    .tutulo-aba-conteudo-principal{
    font-size: 28px;
    text-align: center;
    }
    .titulo-aba-conteudo-secundario{
    text-align: center;
    color: var(--verde);
    text-transform: uppercase; /*(transforma o texto de minúsculo para caixa auta)*/
    /*obs:se o texto já estiver em maiúsculo não utilize*/
    }
    .contador{
    font-size: 20px;
    text-align: center;
    }
    /*Comando colocar os botões lado a lado*/
    @media screen and (min-width: 768px){
    .botoes{
    display: flex;
    }
    .botao:first-child{ /*primeiro elemento*/
    border-radius: 40px 0 0 0;/*Comando para executar o arredondamento dos botões*/
    }
    .botao:last-child{ /*ultimo elemento*/
    border-radius: 0 40px 0 0;/*Comando